version: '3.5'

services:
  db:
    container_name: postgres
    image: phdcoder/postgresbr
    restart: always
    volumes:
      - base_cliente:/var/lib/postgresql/data/pgdata
      - ./initdb:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: admin
      POSTGRES_DB: easysell
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data/pgdata
      LANG: pt_BR.utf8
    ports:
      - "5455:5432"

  app:
    container_name: spring
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  base_cliente:
    external: true