<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/start :: startHeader">
    <meta charset="UTF-8">
    <title>Agências</title>
</head>
<body>
    <sidebar th:insert="/fragments/start :: sidebar(linkOne = 'index',linkTwo = 'banco')"></sidebar>
    <div class="search-bar">
        <div class="bar-element">
            <input type="text" placeholder="filtrar">
        </div>
        <div class="bar-element">
            <a href="#"><button class="custom-btn btn-16">filtrar</button> </a>
        </div>
        <div class="bar-element">
            <a href="#"><button class="custom-btn btn-16">prox</button></a>
        </div>
        <div class="bar-element">
            <a href="#"><button class="custom-btn btn-16">anterior</button> </a>
        </div>
    </div>
<div class="div-table">
    <table>
        <thead>
        <th>ID</th>
        <th>Agencia</th>
        <th>NomeAgencia</th>
        <th>Endereço</th>
        <th>Fone</th>
        <th>Tipo</th>
        </thead>
        <tbody>
            <tr th:each="agencia : ${agencias}">
                <td th:text="${agencia.id}"></td>
                <td th:text="${agencia.getId_banco()}"></td>
                <td th:text="${agencia.getNome_agencia()}"></td>
                <td th:text="${agencia.getEndereco()}"></td>
                <td th:text="${agencia.getFone()}"></td>
                <td th:text="${agencia.getTipo()}"></td>
                <td><a th:href="@{/agencia/update/{id}(id = ${agencia.id})}">
                    <button class="btn btn-sm btn-primary">editar</button>
                </a> </td>
                <td><a th:href="@{/agencia/{agenciaId}/delete(agenciaId = ${agencia.id})}"><button class="btn btn-primary">excluir</button> </a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>