<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/styles/css/components.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Agências</title>
</head>
<body>
<sidebar class="sidebar" >
    <div class="logo-content">
        <div class="logo">
            <i class='bx bxl-xing'></i>
            <div class="logo-name">Rayhbank</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <customButton>
                <a  th:href="@{/}">
                    <i class="bx bxs-home"></i>
                    <span class="links_name">Inicio</span>
                </a>
                <span class="tooltip">Inicio</span>
            </customButton>
        </li>
        <li>
            <customButton >
                <a th:href="@{/banco}">
                    <i class="bx bxs-bank"></i>
                    <span class="links_name">Bancos</span>
                </a>
                <span class="tooltip">Bancos</span>

            </customButton>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <a href="https://github.com/SoImRayh/CRUD-Spring">
                    <i class='bx bxl-github'></i>
                    <div class="name">Rayh</div>
                </a>
            </div>
        </div>
    </div>
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");

        btn.onclick = function (){
            sidebar.classList.toggle("active");
        }
    </script>
</sidebar>
    <div class="search-bar">
        <div class="bar-element">
            <a th:href="@{/agencia/novo}"><button class="btn btn-primary btn-sm">nova</button></a>
        </div>
        <div class="bar-element">
            <form class="bar-element" method="get" th:object="${filtro}" th:action="@{/agencia}">
                <input type="text" name="filtro" id="filtro" th:value="${filtro}" required>
                &nbsp;
                <button type="text" class="btn btn-primary btn-sm" th:href="@{/agencia(filtro = ${filtro})}">filtrar</button>
                &nbsp
            </form>
        </div>

            <a th:if="${agencias.number > 0}" th:href="@{/agencia(page = ${agencias.number +1})}"><button class="btn btn-primary">anterior</button></a>
            <a href="#"><button class="btn btn-primary btn-sm">proxima</button></a>
        </div>
    </div>
<div class="div-table">
    <table>
        <thead>
        <th>ID</th>
        <th>Agencia</th>
        <th>NomeAgencia</th>
        <th>Endereço</th>
        <th>Fone</th>
        <th>Tipo</th>
        <th colspan="2">Ações</th>
        </thead>
        <tbody>
            <tr th:each="agencia : ${agencias}">
                <td th:text="${agencia.id}"></td>
                <td th:text="${agencia.getId_banco()}"></td>
                <td th:text="${agencia.getNome_agencia()}"></td>
                <td th:text="${agencia.getEndereco()}"></td>
                <td th:text="${agencia.getFone()}"></td>
                <td th:text="${agencia.getTipo()}"></td>
                <td>
                    <a th:href="@{/agencia/update/{id}(id = ${agencia.id})}">
                        <button class="custom-btn btn-16" role="button">editar</button>
                    </a>
                    <a th:href="@{/agencia/{agenciaId}/delete(agenciaId = ${agencia.id})}">
                        <button class="custom-btn btn-16" role="button">excluir</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>