<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:fragment="startHeader">
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/styles/css/components.css}">
</head>
<body>
    <sidebar class="sidebar" th:fragment="sidebar(linkOne,linkTwo)"  >
    <div class="logo-content">
        <div class="logo">
            <i class='bx bxl-xing'></i>
            <div class="logo-name">Rayhbank</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <customButton th:if="${linkOne =='banco'}">
                <a th:href="@{/banco}">
                    <i class="bx bxs-bank"></i>
                    <span class="links_name">Bancos</span>
                </a>
                <span class="tooltip">Bancos</span>
            </customButton>
            <customButton th:if="${linkOne == 'index'}">
                <a  th:href="@{/}">
                    <i class="bx bxs-home"></i>
                    <span class="links_name">Inicio</span>
                </a>
                <span class="tooltip">Inicio</span>
            </customButton>
        </li>
        <li>
            <customButton th:if="${linkTwo =='agencia'}">
            <a th:href="@{/agencia}">
                <i class='bx bxl-magento'></i>
                <span class="links_name">Agencias</span>
            </a>
            <span class="tooltip">Agencias</span>
            </customButton>
            <customButton th:if="${linkTwo =='banco'}">
                <a th:href="@{/banco}">
                    <i class="bx bxs-bank"></i>
                    <span class="links_name">Bancos</span>
                </a>
                <span class="tooltip">Bancos</span>

            </customButton>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <a href="#">
                    <i class='bx bxl-github'></i>
                    <div class="name">Rayh</div>
                </a>
            </div>
        </div>
    </div>
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");

        btn.onclick = function (){
            sidebar.classList.toggle("active");
        }
    </script>
</sidebar>
    <a th:fragment="botao(prox)" th:href="@{/${prox}}">
        <button class="button-85" role="button">Button 85</button>
    </a>
</body>


</html>
