<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/start :: startHeader">

    <meta charset="UTF-8">
    <title>RayhBank</title>
</head>
<body>
    <sidebar th:insert="/fragments/start :: sidebar(linkOne = 'banco', linkTwo = 'agencia')"></sidebar>
<div class="corpo">
<div>
    <h1 class="text-center">enquanto isso arte contemporânea!</h1>
</div>
<div >
    <div>
        <img src="../static/images/lulu.jpeg" width="50%"
            th:src="@{/images/lulu.jpeg}" style="height: 400px; width: 400px">
    </div>
</div>
</div>
</body>
</html>