<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/css/style.css">
    <title>Alo</title>
</head>
<body>
  <div class="filter">

  </div>
  <table>
      <tr>
          <th>#</th>
          <th>a</th>
          <th>b</th>
          <th>c</th>
      </tr>
      <tr>
          <td>1</td>
          <td>Railande</td>
          <td>Silva</td>
          <td>Silva</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Railande</td>
          <td>Silva</td>
          <td>Silva</td>
      </tr>
  </table>
</body>
</html>