<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/start :: startHeader">
    <title>Todos os Bancos</title>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
</head>
<body>
    <sidebar th:insert="/fragments/start :: sidebar(linkOne = 'index', linkTwo = 'agencia')"></sidebar>
<div class="BankBody">
    <div>
        <div>
            <input type="text">
            <button type="button">filtrar</button>
        </div>
        <div>
            <a href="#">
                <button class="button-85" role="button">Proxima</button>
            </a>
        </div>
        <div>
            <a href="#">
                <button class="button-85" role="button">Anterior</button>
            </a>
        </div>
    </div>
<div class="div-table">


        <table>
            <tbody>
            <tr>
                <th>Nome</th>
                <th>Número</th>
            </tr>
            <tr th:each="banco : ${bancos}">
                <td th:text="${banco.getNome()}"></td>
                <td th:text="${banco.getNumero()}"></td>
            </tr>
            </tbody>
        </table>

</div>
</div>
    <div th:if="${bancos.totalPages > 0}" class="pagination" th:each="bancoNumber : ${bancos.number}">
        <a th:href="@{banco (page = ${bancoNumber} , size = 10)}"
           th:text="${bancoNumber}" th:class="${bancoNumber == bancos.number +1} ? active" class="btn btn-info">aaa</a>
    </div>
<button type="button" th:onclick="showAlert()">aaa</button>

</body>
</html>