<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/start :: startHeader">
    <title>Todos os Bancos</title>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
</head>
<body>
    <sidebar th:insert="/fragments/start :: sidebar(linkOne = 'index', linkTwo = 'agencia')"></sidebar>
    <div class="search-bar">
        <div class="bar-element">
            <a th:href="@{/banco/novo}"><button class="custom-btn btn-16">Novo Banco</button> </a>
        </div>
        <div class="bar-element">
            <input type="text" placeholder="filtrar por nome">
            <button type="text" class="custom-btn btn-16">filtrar</button>
        </div>
        <div class="bar-element" th:if="${bancos.number != 0}">
            <a th:href="@{/banco (size =${bancos.size} , page = ${bancos.number -1})}">
                <button class="custom-btn btn-16" role="button">Anterior</button>
            </a>
        </div>
        <div class="bar-element" th:if="${bancos.number != bancos.totalPages}">
            <a th:href="@{/banco(page = ${bancos.number+ 1}, size = ${bancos.size})}">
                <button class="custom-btn btn-16" role="button">Proxima</button>
            </a>
        </div>
        </div>
<div class="BankBody">
<div class="div-table">


        <table>
            <tbody>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>ações</th>
            </tr>
            <tr th:each="banco : ${bancos}">
                <td th:text="${banco.getNome()}"></td>
                <td th:text="${banco.getNumero()}"></td>
                <td><a th:href="@{/banco/{id}(id = ${banco.getId()})}"><button class="custom-btn btn-16">detalhes</button></a>
                    <a th:href="@{/banco/update/{id}(id = ${banco.getId()})}"><button class="custom-btn btn-16">Editar</button></a>
                    <a th:href="@{/banco/{id}/delete(id = ${banco.getId()})}"><button class="custom-btn btn-16">Excluir</button></a>
                </td>
            </tr>

            </tbody>
        </table>

</div>
</div>
    <div th:if="${bancos.totalPages > 0}" class="pagination" th:each="bancoNumber : ${bancos.number}">
        <a th:href="@{banco (page = ${bancoNumber} , size = 10)}"
           th:text="${bancoNumber}" th:class="${bancoNumber == bancos.number +1} ? active" class="btn btn-info">aaa</a>
    </div>
<button type="button" th:onclick="showAlert()">aaa</button>

</body>
</html>