<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/css/forms.css}">
    <title>novo</title>
</head>
<body>
<a th:href="@{/banco (size = )}"><button class="btn btn-primary btn-sm">voltar</button> </a>
<div class="login-box">
<h2>Cadastrar novo Banco</h2>
<form class="form-inline" method="post" style="margin: 20px" th:object="${banco}" th:action="@{/banco/novo}">
    <div class="user-box">
        <input type="text" class="form-control" placeholder="nome" th:field="*{nome}"/>
    </div>
    <div class="user-box">
        <input type="text" class="form-control" placeholder="numero" th:field="*{numero}"/>
    </div>
        <button type="submit" class="button-85">Cadastrar</button>

</form>
</div>
</body>
</html>