<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>novo</title>
</head>
<body>
<a th:href="@{/banco}"><button class="btn btn-primary btn-sm">voltar</button> </a>

<h1>Cadastrar novo Banco</h1>
<form class="form-inline" method="post" style="margin: 20px" th:object="${banco}" th:action="@{/banco/novo}">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="nome" th:field="*{nome}"
               th:class="${#fields.hasErrors('nome')}? fieldError"/>
        <input type="text" class="form-control" placeholder="numero" th:field="*{numero}"
               th:class="${#fields.hasErrors('numero')}? fieldError" />
        <p th:if="${#fields.hasErrors(numero)}" th:errors="*{numero}">precisa de nuemro meu chegado</p>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
</body>
</html>